#surgins {
    background-color: #0960e3;
    color: white;
    padding: 10px 0 6px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1.5px 5px rgba(105, 76, 3, 0.438);
}

.opins {
    background-color: #d9a113ff;
    padding: 5px 0 3px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1.5px 5px rgba(105, 76, 3, 0.438);
    width: 25%;
}

