#tourcont {
    max-width: 50vw;
    margin: 0 auto;
}

#tourImgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0 40px 0;
}

.tourImg {
    margin: 10px;
}

.tourImg p{
    border-radius: 10px 10px 0 0;
    background-color: #d9a113ff;
    box-shadow: 2px 1.5px 5px rgba(105, 76, 3, 1);
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.tourImg img {
    max-width: 600px;
    border-top: none;
    border-radius: 0 0 10% 10%;
    box-shadow: 1px 1.5px 5px #032558da;
}

@media (max-width: 620px) {
    
    #tourcont {
        margin-top: 40px;
        max-width: 100%;
    }

    #tourImgs {
        max-width: 100%;
        padding: 0;
        margin: 20px 0
    }

    .tourImg p {
        padding: 10px;
        margin: 0;
    }

    .tourImg img {
        max-width: 100%;
        border-radius: 0;
    }
}