p {
    font-weight: bold;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    width: 100%;
    margin: 0;
    margin-top: 80px;
    padding: 0;
}

.bodyContainer p{
    font-weight: bold;
    padding: 10px;
}

#clinicContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}

#clinicImg{
    width: 100%;
    margin: 0;
    padding: 0;
}

#stage{
    width: 85%;
    margin: 0 auto;
}

.stageImg{
    max-width: 30%;
    height: auto;
}



/* Industry standard breakpoints */

/* Extra small devices (small phones, less than 480px) */
@media (max-width: 480px) {
    .bodyContainer{
        margin-top: 60px;
    }

    #stage{
        width: 100%;
    }
    
    .stageImg{
        max-width: 100%;
        margin: 0;
        padding: 0;
    } 
}

/* Small devices (phones, 481px to 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .bodyContainer{
        margin-top: 80px;
    }

    #stage{
        width: 100%;
    }
    
    .stageImg{
        max-width: 100%;
        margin: 0;
        padding: 0;
    } 
}

/* Medium devices (tablets, 768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .bodyContainer{
        margin-top: 120px;
    }

    #stage{
        width: 100%;
    }
    
    .stageImg{
        max-width: 30%;
        margin: 0;
        padding: 0;
    } 
}

/* Large devices (desktops, 1024px to 1199px) */
@media (min-width: 1024px) and (max-width: 1199px) {
    .bodyContainer{
        margin-top: 100px;
    }  
}