.footContainer{
    background-color: #0960e3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 400px;
    z-index: 1000;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.33);
    margin: 0;
    padding: 20px;
}

#footInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    width: 75%;
    height: 80%;
    align-items: flex-start;
    margin: 0;
    padding: 40px;
}

#footInfoLeft {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-content: start;
    margin: 0;
    padding: 0;
    color: #f5f5d3ff;
    font-weight: normal;
}

#footInfoLeft h2{
    margin: 0;
    padding: 0;
}

#map {
    width: 600px;
    min-height: 260px;
    margin: 0;
    padding: 0;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: #d9a113ff;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}